@model EditHousekeeperViewModel
@{
    ViewData["Title"] = "Edit Housekeeper";
}

<h1>Edit Housekeeper</h1>


<form asp-action="EditHousekeeper" asp-route-id="@Model.Id" method="post">

    <label asp-for="CreateHousekeeper.HousekeeperName"></label>
    <input asp-for="CreateHousekeeper.HousekeeperName" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperName"></span>

    <label asp-for="CreateHousekeeper.HousekeeperPhone"></label>
    <input asp-for="CreateHousekeeper.HousekeeperPhone" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperPhone"></span>


    <label asp-for="CreateHousekeeper.HousekeeperAddress"></label>
    <input asp-for="CreateHousekeeper.HousekeeperAddress" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperAddress"></span>


    <label asp-for="CreateHousekeeper.HousekeeperBankNumber"></label>
    <input asp-for="CreateHousekeeper.HousekeeperBankNumber" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperBankNumber"></span>


    <label asp-for="CreateHousekeeper.HousekeeperLeave"></label>
    <input asp-for="CreateHousekeeper.HousekeeperLeave" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperLeave"></span>

    <label asp-for="CreateHousekeeper.HousekeeperSalary"></label>
    <input asp-for="CreateHousekeeper.HousekeeperSalary" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperSalary"></span>


    @*<label asp-for="CreateHousekeeper.LeaveDate"></label>
    <input asp-for="CreateHousekeeper.LeaveDate" />
    <span asp-validation-for="CreateHousekeeper.LeaveDate"></span>


    <label asp-for="CreateHousekeeper.SalaryPaidDate"></label>
    <input asp-for="CreateHousekeeper.SalaryPaidDate" />
    <span asp-validation-for="CreateHousekeeper.SalaryPaidDate"></span>*@


    <label asp-for="CreateHousekeeper.HousekeeperStartDate"></label>
    <input asp-for="CreateHousekeeper.HousekeeperStartDate" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperStartDate"></span>


    <label asp-for="CreateHousekeeper.HousekeeperEndDate"></label>
    <input asp-for="CreateHousekeeper.HousekeeperEndDate" />
    <span asp-validation-for="CreateHousekeeper.HousekeeperEndDate"></span>


    <input type="submit" value="Save changes" />

</form>



