@model HousekeeperIndexViewModel
@{
    ViewData["Title"] = "Housekeeper Index";
}

<a asp-action="CreateHousekeeper">Create New Housekeeper</a>

<h1>Housekeeper List</h1>

<form asp-action="HousekeeperIndex" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
    <input type="submit" value="Filter By Housekeeper Name" />
</form>



<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-3">
                <h5>Housekeeper Name</h5>
            </div>
            <div class="col-3">
                <h5>Monthly Salary</h5>
            </div>
            <div class="col-3">
                <h5>Start Date</h5>
            </div>
            <div class="col-3">
                <h5>Action</h5>
            </div>
        </div>

        @foreach (var item in Model.HousekeeperList)
        {
    <div class="row">
        <div class="col-3">
            <p>@item.HousekeeperName</p>
        </div>
        <div class="col-3">
            <p>@item.HousekeeperSalary</p>
        </div>
        <div class="col-3">
            <p>@item.HousekeeperStartDate</p>
        </div>
        <div class="col-3">
            <a class="btn btn-info" asp-action="DetailsHousekeeper" asp-route-id="@item.Id">Details Housekeeper</a>
        </div>
    </div>
        }

    </div>
</div>




