@model List<IdentityUser>
@{
    ViewData["Title"] = "UserList";
}

<h1>User List</h1>

<table>
    <thead>
        <tr>
            <th>User name</th>
            <th>Email address</th>
            <th>Failed attempt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.AccessFailedCount</td>
            <td>
                <a asp-action="Details" asp-controller="Admin" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
  
</table>