@model CreatePropertyViewModel
@{
    ViewData["Title"] = "Create Property";
}

<h1>Create Property</h1>

<form asp-action="CreatePropertyView" asp-controller="Properties" method="post">
    <label asp-for=""></label>


</form>