@model CreateRoomViewModel
@{
    ViewData["Title"] = "Create Room";
}

<h1>Create New Room</h1>



<form asp-action="CreateRoom" asp-controller="Rooms" method="post">

    <label asp-for="RoomNumber"></label>
    <input asp-for="RoomNumber" />
    <span asp-validation-for="RoomNumber"></span>



    <label asp-for="RoomType"></label>
    <select asp-for="RoomType">
        <option value="" disabled>Select Room Type</option>
        @foreach (string item in Model.TypeList)
        {
            <option value="@item">@item</option>
        }
    </select>
    <span asp-validation-for="RoomType"></span>

    <button>Create</button>
    <button type="reset">Reset</button>

</form>
