@model RoomIndexViewModel
@{
    ViewData["Title"] = "Room Index";
}

<a asp-action="CreateRoom">Create New Room</a>

<h1>Room List</h1>

<form asp-action="RoomIndex" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
    <input type="submit"  value="Filter By RoomType" />
</form>


<table>
    @foreach (var item in Model.RoomList)
    {
    <tr>
        <td>@item.RoomNumber</td>
        <td>@item.RoomType</td>
    </tr>
    }

</table>
