@model RoomIndexViewModel
@{
    ViewData["Title"] = "Room Index";
}

<a asp-action="CreateRoom">Create New Room</a>

<h1>Room List</h1>

<form asp-action="RoomIndex" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
    <input type="submit"  value="Filter By RoomType" />
</form>


<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Action</th>
        </tr>

    </thead> 
    
    <tbody>

        @foreach (var item in Model.RoomList)
        {
            <tr>
                <td>@item.RoomNumber</td>
                <td>@item.RoomType</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id">Edit </a></td>
            </tr>
        }

    </tbody>
       
</table>
