@model List<Contract>
@{
    ViewData["Title"] = "Contract Index";

}

<a asp-action="CreateContract">Create new contract</a>



<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <h5>Room Number</h5>
            </div>
            <div class="col-2">
                <h5>Tenant Name</h5>
            </div>
            <div class="col-2">
                <h5>Room Price</h5>
            </div>
            <div class="col-2">
                <h5>Payment Date</h5>
            </div>
            <div class="col-2">
                <h5>Start Date</h5>
            </div>
            <div class="col-2">
                <h5>End Date</h5>
            </div>
            <div class="col-1">
                <h5>Action</h5>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <partial name="../Shared/AllContractsPartialView" model="item" />
        }     

    </div>
</div>

@*<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Tenant Name</th>
            <th>Room Price</th>
            <th>Payment Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>*@
    @*<tbody>
        @foreach (var item in Model)
        {
            <partial name="../Shared/AllContractsPartialView" model="item" />
        }
    </tbody>
</table>*@