@model List<Contract>
@{
    ViewData["Title"] = "Contract Index";

}

<a asp-action="CreateContract">Create new contract</a>

<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Tenant Name</th>
            <th>Room Price</th>
            <th>Payment Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="../Shared/AllContractsPartialView" model="item" />
        }
    </tbody>
</table>